body {
  margin: 0;
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: rgb(255, 255, 255);
    background-size: cover;
   background-size: fill;
   /* display: absolute; */
   /* height: 100%; */
   color: #808080;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2 {
  color: rgb(44, 44, 44);
}

span{
  color: rgb(44, 44, 44);
}