.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 4em;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 4em; 
    gap: 3em;
}