.link{

}
.card{
    background-color: transparent;
    border-radius: 20px;
    margin: 5px;
    border: none;
    font-size: 1.4em;
    transition: all 0.3s ease-in-out;
    width: 20em;
    height: 30em;
}


/* .card{
    width: 24em;
    height: 32em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5em;
    transition: all 0.3s;
    flex-wrap: wrap;
} */







.img{
    border-radius: 20px;
    margin: auto;
    width: 18em;
    height: 12em;
    object-fit: cover;
    
}
.name{
font-size: 20px;
}

.rating{

}

.ul{
display: inline-block;
gap: 0px;

}

.lista{
display: flex;


}