.container {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
  }
  
  .inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5ea;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .outertitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .titulo {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .inputcontainer {
    flex-direction: column;
    width: 100%;
  }
  
  .labels {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .button {
    width: 30%;
    font-size: 16px;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 200px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .buttonSave {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .error {

    top: 100%;
    left: 0;
    margin-top: 5px;
    padding: 5px;
    color: #ff0000;
}
.errorBackground{
    background-color: #ffcccc;
}

.genreContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  }
  
  .genre {
    display: flex;
    align-items: center;
    width: 25%;
  }

  .genreinput {
    margin-right: 15px;
  }
  .platformPreview{
    color: rgb(146, 146, 146);
    font-size: 17px;
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: 0.5px solid #d3d3d3;
    cursor: pointer;
    
  }